<form class="product-form" #myForm="ngForm"(submit)="saveProduct(myForm.value)">
    
    <div class ="product-controller">
        <label for="productName"></label> 
Product Name<input type="text" name="productName" ngModule>
</div>
<div class="product-controller"> 
    <label for="productPrice"></label>
Price <input type="number" name="productPrice" ngModule>
</div>
    <div class="product-controller">
    <label for="quantity"></label>
Quantity <input type="number" name="quantity" ngModule>
</div>
<div class="product-controller">
    <input type="submit">
</div>
</form>
